.contato {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin-bottom: 120px;
}

.contato-conteudo {
  display: inline-block;
  width: 1000px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 50vh;
  background: var(--fundo-2);
  border: 3px solid var(--fundo-2);
  border-radius: 6px;
  margin: 0 auto;
  align-content: center;
  justify-items: end;
}

.redes-sociais-itens a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.redes-sociais {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 50vh;
  place-content: center;
  font-family: orbitron, Arial, Helvetica, sans-serif;
}
.redes-sociais-itens {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.redes-sociais-itens a {
  transition: 0.3s ease;
}

.redes-sociais-itens a:hover {
  transform: scale(1.2);
}

li a svg path {
  fill: var(--icone);
}

.redes-sociais-itens span {
  color: var(--icone);
}

li a:hover svg path {
  fill: var(--cor-primaria) !important;
}

li a:hover span {
  color: var(--cor-primaria);
}

.wpp {
  background-image: var(--degrade);
}

@media (max-width: 1000px) {
  .contato,
  .contato-conteudo,
  .redes-sociais,
  .redes-sociais-itens {
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    gap: 40px;
  }
  .contato,
  .contato-conteudo {
    height: 900px;
  }
  .redes-sociais-itens a svg {
    width: 100px;
    height: 100px;
  }
}
